.container {
  font-family: 'Montserrat', sans-serif, italic;
  align-content: center;
  background-color: rgb(226, 232, 230);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row; 
}
