.container {
  font-family: 'Montserrat', sans-serif, italic;
  display: flex;
  align-content: center;
  background-color: rgb(226, 232, 230);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row; 
}

.title {
  font-size: 40px;
  text-shadow: 1px 1px 8px #6f6262;
}